*{
    margin: 0 auto;
}
body{
    background:	#DCDCDC;
}
#caja2{
    margin-top: 50px;
    width: 50%;
    
}
h1{
    font-size: 50px;
    color: #00e5ff;
    font-style: italic;
    font-family: sans-serif;
    
}

*{
    margin: 0 auto;
}
body{
      background-image: url('../imagenes/naruto-aura-kyuubi.png' ); 
     
}
   


#caja{
    background: white;
    width: 20%;
    height: 30%;
    margin-left: 25%;
    margin-right: 25%;
    margin: 10%;
    border: solid #00ffff 5px;
   
}
